/*
Project Name: Beervana
Client: You
Author: Derek Nuzum and Jonathan Stevenson
Developers @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/


body{
	margin-top: 50px;
	background-image: url("../images/SeattleApp.jpeg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	overflow-x: hidden;
}

.container{
	width: 100%;
	padding: 0;
}

.russel-wilson-quote span{
	float: right;
	margin-right: 2%;
}

.russel-wilson-quote h1{
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	margin-top: 2%;
	font-weight: bold;
	width: 75%;
	margin: 0 auto;
}

.scroll-container{
	margin-top: 10%;
	text-align: center;
}

.scroll{
	font-weight: bold;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}

.logo{
	width: 350px;
	height: 270px;
}

.malt-container,.pot-container,.wort-container,.dme-container,.hops-container,.fermenter-container,.hydrometer-container,.yeast-container,.immersion-container,.trub-container,.beer-container{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 2%;
}
.pot{
	width: 300px;
	height: 300px;
	margin-top: 2%;
}

.malt,.wort,.dme,.hops,.hydrometer,.yeast,.fermenter,.fermenter2,.immersion,.trub,.beer{
	width: 300px;
	height: 300px;
	margin-top: 2%;
	border-radius: 100%;
	border: 2px solid #fff;
}
.trub{
	width: 300px;
    height: 260px;
}

.logo-container{
	text-align: center;
	margin: 60px 0 0 0;
}

.form{
	margin-top: 60px;
}


.navbar-brand{
	font-family: 'Old Standard TT', serif !important;
}

.hidden {
  visibility: hidden;
}

.beer-instructions{
	width: 100%;
	margin: 5% auto;
	padding: 0;
}

.instruction-container{
	width: 100%;
	margin: 500px auto;
	margin-bottom: 0;
	padding: 1% !important;
	background-color: rgba(255,255,255,.85) !important;
	text-align: center;
	text-decoration: underline;
}

.instructions{
	margin-top: 10%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding: 1% !important;
	background-color: rgba(255,255,255,.85) !important;
	width: 50%;
	border: 5px solid rgba(0,0,0,.1) !important;
}

.enjoy{
	border: 2px solid #000 !important;
	background-color: rgba(255,255,255,.9) !important;
	text-align: center;
	font-weight: bold;
	padding: 1% !important;
	margin: 5% auto !important;
	margin-bottom: 200px;
}

.beer-search{
	width: 90%;
	margin: 0 auto;
	font-family: 'Old Standard TT', serif !important;
	min-height: 200px !important;
	background-color: rgba(255,255,255,.95) !important;
}

.beer-search:hover{
	font-size: 1em;
}

.beer-style{
	text-align: left;
	font-size: 1.3em;
	width: 50%;
	font-weight: bold;
}

.description{
	font-size: 1.4em;
	font-weight: bold;
}

.beer-description{
    font-size: 1.2em;
    text-align: center;
    width: 80%;
    margin: 200px auto;
    margin-bottom: 2%;
}


.beer-label{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 2%;
	top: 3%;
	background-image: url("../images/beervana-black.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.beer-list{
	position: absolute;
    left: -5%;
    top: 4%;
	list-style-type: none;
	max-width: 150px;
}

.beer-list li{
	float: left;
}

.beer-list li h4{
	line-height: 0;
}

.beer-title{
	width: 180px;
	margin-top: 0;
	text-align: left;
	display: inline-block;
	float: left;
	clear: both;
	font-size: 1.6em !important;
	font-weight: bold !important;
	text-decoration: underline; 
}

.brewery{
	text-align: left;
	float: left;
	font-size: 1.4em;
	margin-top: 1%;
	margin-bottom: 0;
}

.brew{
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.5em;
}

.underline{
	text-decoration: underline;
	font-weight: bold;
}

.fav-btn{
	position: absolute;
    bottom: 1.5%;
    right: 3%;
}

.beer-container{
	padding: 2%;
}

.brewery-title{
	font-size: 2em;
	text-decoration: underline;
	text-align: center;
	text-shadow: 2px 2px rgba(255,255,255,.5);
}

.brewery-image{
	width: 50%;
	float: right;
}

.brewery{
	width: 100%;
	text-align: left;
}

.brewery-container{
	width: 90%;
	margin: 0 auto;
	font-family: 'Old Standard TT', serif !important;
}

.brewery-description{
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}


.fav{
	float: right;
}

.favAlert{
	width: 50%;
	margin: 0 auto;
}

.about_title{
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.dev{
	/*width: 100% !important;*/
	margin: 0 auto;
	text-align: center;
}

.dev_name{
	text-decoration: underline;
	color: #fff;
}

.dev_description{
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.footer{
	color: #fff;
	border-radius: 5%;
	font-weight: bold;
	width: 340px;
}


@media screen and (min-width: 650px) and (max-width: 778px){

body{
	width: 100%;
	margin: 0 auto;
}

.brewery-image{
	width: 20%;
	float: right;
}

.brewery{
	width: 100%;
	text-align: left;
}

.fav{
	position: absolute;
	bottom: 2%;
	right: 2%;
}


.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	color: #fff;
	font-weight: bold;
}

.beer-style{
	text-align: center;
	margin: 2% auto;
}

.beer-description{
	width: 50%;
	margin: 0 auto;
}

.beer-label{
	float: right;
	margin-top: 1%;
}

.beer-list{
	position: absolute;
	top: 4%;
	display: block;
	max-width: 150px;
	list-style-type: none;
}


.fav-btn{
	position: absolute;
    bottom: 3%;
    right: 1%;
}

.instruction-container{
	width: 70%;
}

.fav{
	float: left;
}
.about_title{
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}


}

@media screen and (min-width: 770px) and (max-width: 901px){

body{
	width: 100%;
	margin: 0 auto;
}

.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	font-weight: bold;
}

.beer-instructions{
	width: 100%;
	margin: 5% auto;
}

.inst1,.inst3,.inst5,.inst7,.inst9,.inst11{
	float: left !important;
	background-color: #000;
}

.inst2,.inst4,.inst8,.inst6,.inst10,.inst12{
	float: right !important;
}

.malt,.dme,.fermenter,.fermenter2,.beer{
	float: left ;
}

.pot,.hops,.immersion,.yeast,.trub{
	float: right;
}

.brewery-image{
	width: 20%;
	float: right;
}

.brewery{
	width: 100%;
	text-align: left;
}

.fav{
	float: left;
}
.about_title{
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}


}

@media screen and (min-width: 901px) and (max-width: 1100px){

body{
	width: 100%;
	margin: 0 auto;
}

.brewery-container{
	width: 900px;
}

.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	font-weight: bold;
}

.beer-instructions{
	width: 100%;
	margin: 5% auto;
}

.inst1,.inst3,.inst5,.inst7,.inst9,.inst11{
	float: left !important;
}

.inst2,.inst4,.inst6,.inst8,.inst10,.inst12{
	float: right !important;
}

.malt,.dme,.fermenter,.fermenter2,.beer{
	float: left;
}

.pot,.hops,.immersion,.yeast,.trub{
	float: right;
}


.beer-style{
	text-align: center;
	margin: 2% auto;
}

.beer-description{
	width: 50%;
	margin: 0 auto;
}

.beer-label{
	float: right;
	margin-top: 1%;
}

.beer-list{
	margin-left: 2%;
	display: block;
	max-width: 150px;
	list-style-type: none;
}

.beer-title{
	width: 400px;
}

.fav-btn{
	position: absolute;
    bottom: 3%;
    right: 2%;
}

.instruction-container{
	width: 70%;
}

.brewery-image{
	width: 20%;
	float: right;
}

.fav{
	float: left;
}

.brewery{
	width: 100%;
	text-align: left;
}

.about_title{
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}



}
@media screen and (min-width: 1101px) and (max-width: 1300px){

body{
	width: 100%;
	margin: 0 auto;
}

.brewery-container{
	width: 900px;
}

.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	font-weight: bold;
}

.beer-instructions{
	width: 900px;
	margin: 5% auto;
}

.inst1,.inst3,.inst5,.inst7,.inst9,.inst11{
	float: left !important;
}

.inst2,.inst4,.inst6,.inst8,.inst10,.inst12{
	float: right !important;
}

.malt,.dme,.fermenter,.fermenter2,.beer{
	float: left;
}

.pot,.hops,.immersion,.yeast,.trub{
	float: right;
}


.beer-style{
	text-align: center;
	margin: 2% auto;
}

.beer-description{
	width: 50%;
	margin: 0 auto;
}

.beer-label{
	float: right;
	margin-top: 1%;
}

.beer-list{
	margin-left: 2%;
	display: block;
	max-width: 150px;
	list-style-type: none;
}

.beer-title{
	width: 400px;
}

.fav-btn{
	position: absolute;
    bottom: 3%;
    right: 2%;
}

.instruction-container{
	width: 70%;
}

.brewery-image{
	width: 20%;
	float: right;
}

.fav{
	float: left;
}

.brewery{
	width: 100%;
	text-align: left;
}


.about_title{
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}


}

@media screen and (min-width: 1301px) and (max-width: 1500px){

body{
	width: 100%;
	margin: 0 auto;
}

.about_title{
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.brewery-container{
	width: 900px;
}

.beer-instructions{
	width: 900px;
	margin: 5% auto;
}

.inst1,.inst3,.inst5,.inst7,.inst9,.inst11{
	float: left !important;
}

.inst2,.inst4,.inst6,.inst8,.inst10,.inst12{
	float: right !important;
}

.malt,.dme,.fermenter,.fermenter2,.beer{
	float: left;
}

.pot,.hops,.immersion,.yeast,.trub{
	float: right;
}

.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	font-weight: bold;
}

.beer-style{
	text-align: center;
	margin: 2% auto;
}

.beer-description{
	width: 50%;
	margin: 0 auto;
}

.beer-label{
	float: right;
	margin-top: 1%;
}

.beer-list{
	margin-left: 2%;
	display: block;
	max-width: 150px;
	list-style-type: none;
}

.beer-title{
	width: 500px;
}

.fav-btn{
	position: absolute;
    bottom: 3%;
    right: 2%;
}

.instruction-container{
	width: 70%;
}

.brewery-image{
	width: 20%;
	float: right;
}

.fav{
	float: left;
}

.brewery{
	width: 100%;
	text-align: left;
}

.navbar-brand{
	font-size: 2em !important;
}

}

@media screen and (min-width: 1501px) and (max-width: 1700px){

body{
	width: 100%;
	margin: 0 auto;
}

.brewery-container{
	width: 900px;
}

.beer-instructions{
	width: 900px;
	margin: 5% auto;
}
.inst1,.inst3,.inst5,.inst7,.inst9,.inst11{
	float: left !important;
}

.inst2,.inst4,.inst6,.inst8,.inst10,.inst12{
	float: right !important;
}

.malt,.dme,.fermenter,.fermenter2,.beer{
	float: left;
}

.pot,.hops,.immersion,.yeast,.trub{
	float: right;
}


.beer-style{
	text-align: center;
	margin: 2% auto;
}

.beer-description{
	width: 50%;
	margin: 0 auto;
}

.beer-label{
	float: right;
	margin-top: 1%;
}

.beer-list{
	margin-left: 2%;
	display: block;
	max-width: 150px;
	list-style-type: none;
}

.beer-title{
	width: 400px;
}

.fav-btn{
	position: absolute;
    bottom: 3%;
    right: 2%;
}

.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	font-weight: bold;
}

.instruction-container{
	width: 70%;
}

.brewery-image{
	width: 20%;
	float: right;
}

.fav{
	float: left;
}

.brewery{
	width: 100%;
	text-align: left;
}

.navbar-brand{
	font-size: 2em !important;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}


}

@media screen and (min-width: 1701px){

body{
	width: 100%;
	margin: 0 auto;
}

.brewery-container{
	width: 900px;
}

.beer-instructions{
	width: 900px;
	margin: 5% auto;
}
.inst1,.inst3,.inst5,.inst7,.inst9,.inst11{
	float: left !important;
}

.inst2,.inst4,.inst6,.inst8,.inst10,.inst12{
	float: right !important;
}

.malt,.dme,.fermenter,.fermenter2,.beer{
	float: left;
}

.pot,.hops,.immersion,.yeast,.trub{
	float: right;
}

.navbar-brand{
	font-size: 2em !important;
}


.beer-style{
	text-align: center;
	margin: 2% auto;
}

.beer-description{
	width: 50%;
	margin: 0 auto;
}

.beer-label{
	float: right;
	margin-top: 1%;
}

.beer-list{
	margin-left: 2%;
	display: block;
	max-width: 150px;
	list-style-type: none;
}

.beer-title{
	width: 400px;
}

.fav-btn{
	position: absolute;
    bottom: 3%;
    right: 2%;
}

.russel-wilson-quote span{
	font-size: 1em;
	font-weight: bold;
}

.russel-wilson-quote h1{
	font-size: 2em;
	font-weight: bold;
}

.instruction-container{
	width: 70%;
}

.brewery-image{
	width: 30%;
	float: right;
}

.fav{
	float: left;
}

.brewery{
	width: 100%;
	text-align: left;
}

.dev{
	text-align: center;
}

.dev_name{
	color: #fff;
}

.dev_description{
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.dev_image{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/derek.png");
	background-size: cover;
	background-repeat: no-repeat;;
}

.dev_image2{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: url("../images/Jonathan.png");
	background-size: cover;
	background-repeat: no-repeat;;
}


}
