<h1 class="about_title">ABOUT US </h1>
<div class="dev col-lg-6" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
	<h1 class="dev_name">Derek Nuzum</h1>
	<div class="dev_image"></div>
	<h1 class="dev_description">Seattle native, family man, sports fan. Served as Project Manager, and worked on the back end.</h1>
  
  <h1 class="dev_description"><a class="linkedin" href="https://www.linkedin.com/in/dnuzum" title="Derek LinkedIn"><img  src="../images/linkedin.png"/></a></h1>

</div>
<div class="dev col-lg-6" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
	<h1 class="dev_name">Jonathan Stevenson</h1>
	<div class="dev_image2"></div>
	<h1 class="dev_description">Also a seattle native. Can be found drinking coffee all the time. Served as the full stack wizard.</h1>

  <h1 class="dev_description"><a class="linkedin" href="https://www.linkedin.com/in/jonathanstevenson1" title="Jonathan LinkedIn"><img src="../images/linkedin.png"/></a></h1>

</div>