<div class="container">
	<div class="logo-container">
  		<img class="logo" src="./images/beervana-transparent.png"/> 
  	</div>

	<div class="russel-wilson-quote">
		<h3>"The seperation is in the preperation"<span>- Russel Wilson</span></h3>
	</div>

	<div>
		<h3 class="scroll">Scroll Down</h3>
	</div>

	<section class="beer-instructions" >
		
		<p class="well col-xs-10">
			Add Malted barley and soak it in hot water to release the malt sugars(60 degrees).
		</p>

		<img src="../images/malt.png" when-visible="animateElementIn" />

		<div >
			<img src="../images/pot.png"/>
		</div>

	</section>


</div>