<div class="logo-container">
		<img class="logo" src="./images/beervana-transparent.png" style="visibility: hidden" when-visible="elementIn" when-not-visible="elementOut"/>
</div>

<div class="russel-wilson-quote" style="visibility: hidden" when-visible="elementIn" when-not-visible="elementOut">
	<h1>"The seperation is in the preperation"<span>- Russel Wilson</span></h1>
	<div class="scroll-container">
		<h3 class="scroll">Scroll down to learn how to brew</h3>
	</div>	
</div>



<section class="beer-instructions" >
	<div class="instruction-container well">
		<h2 src="./images/beervana-transparent.png" style="visibility: hidden" when-visible="elementIn" when-not-visible="elementOut">The beginner's guide on how to brew</h2>
	</div>
	<div class="pot-container col-xs-12 col-md-12 col-lg-12" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
		<p class="well instructions inst1 col-xs-12 col-sm-6 col-md-7">
			Fill 5 gallon kettle up with 3 gallons of water and heat it up to 180 degrees.
		</p>
		<img src="../images/pot.png" class="pot" />
	</div>

	<div class="malt-container col-xs-12" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst2" >
			Hold kettle to 180 degress. Add your specialty grains for aroma and color into stepping bag and stepp grains for 20-30 minutes.
		</p>
		<img src="../images/wort.png" class="malt"/>
	</div>

	<!-- <div class="wort-container col-xs-12">
		 class="wort" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut" />
	</div> -->

	<div class="wort-container col-xs-12" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst3" >
		Pull out specialty grains once they have been steeping for 20-30 minutes. You have now created what is called "wort". Bring wort up to boiling point (220-235 degrees).
		</p>
		<img src="../images/wort2.png" class="wort"/>
	</div>

	<div class="dme-container col-xs-12" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst4" >
		Now it is time to add your DME(Dry Malt Extract) or LME(Liquid Malt Extract, reduce thickness of LME by placing bottle in hot water). DME and LME are sugar/syrups that you add for the yeast to feed on. Pour either DME or LME into wart slowly while CONTINUOUSLY STIRRING. Boil wort for 60 minutes(be sure to start a timer).
		</p>
		<img src="../images/DME.png" class="dme"/>
	</div>

	<div class="hops-container col-xs-12" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst5" >
		After 30 minutes of boiling it is now time to add hops (flavoring hops) pellet or leaf form. Add bittering hops at minute 55.
		</p>
		<img src="../images/hops.png" class="hops" />
	</div>

	<div class="fermenter-container col-xs-12" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst6" >
		After 60 minutes of boiling transfer wort into the fermentor(make sure to use a screen).
		</p>
		<img src="../images/fermenter.png" class="fermenter"/>
	</div>

	<div class="immersion-container col-xs-12" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst7" >
		 Reduce the temperature of the wort to 70-80 degrees by either using immersion cooler or by cooling plate.
		</p>
		<img src="../images/immersion-cooler.png" class="immersion"/>
	</div>

	<div class="hydrometer-container col-xs-12" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst8" >
		After cooled, top off fermenter to 5 gallons with DISTILLED water. Take sample of wart and find the original gravity by using hydrometer(write down number for later use).
		</p>
		<img src="../images/hydrometer.png" class="hydrometer"  />
	</div>

	<div class="yeast-container col-xs-12" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
		
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst9">
		Its time to pitch your yeast, sprinkle yeast on top of the wort whether you are using dry or liquid yeast(DO NOT STIR).
		</p>
		<img src="../images/pitching-yeast.png" class="yeast"  />
	</div>

	<div class="fermenter-container col-xs-12 " style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst10" >
		After pitching the yeast, put lid on fermenter, set air lock to allow air to go in. The primary fermentation has now begun which will take 10-14 days
		</p>
		<img src="../images/fermenter2.png" class="fermenter2" />
	</div>

	<div class="trub-container col-xs-12" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst11">
		After 14 days transfer beer to secondary fermenter, this cleans beer up and gets your beer off your trub(dead yeast). Yeast will continue to work for another 14 days,.
		</p>
		<img src="../images/trub.png" class="trub"  />
	</div>

	<div class="beer-container col-xs-12 " style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
		<p class="well col-xs-12 col-sm-6 col-md-7 instructions inst12" >
		Now for the final stage, carbonation. For bottle carbing,take two cups of water and bring it to boil, then add priming sugar(corn starch). Make sure the priming sugar disovles completely into water and continue to boil. Next take off stove and let the water cool down to 70-80 degrees. You have now craeted what is known as "priming solution". Pour priming solution into beer, then bottle the beer and let it sit for another 3 weeks. For those who don't want to wait, use force carbing. Take the beer from seconday fermenter and transfer it into your tank, tap it, turn up C02 all the way and 24 hours later your beer is ready to drink. 
		</p>
		<img src="../images/beer.png" class="beer" />
	</div>

	<div class="col-xs-4" style="visibility: hidden" when-visible="elementIn3" when-not-visible="elementOut3">
		<h1 class="well enjoy">
		Enjoy!
		</h1>
	</div>

	 



	

</section>


