<h3 class="favTitle">Your Favorite Beers:</h3>
<div class="well favBeer" ng-repeat="userBeer in userBeers track by userBeer.id" style="visibility: hidden" when-visible="elementIn2" when-not-visible="elementOut2">
  {{userBeer.name}} <button type="button" ng-click="removeBeer($index, {id: userBeer.id, name: userBeer.name})" class="btn btn-danger">Remove Beer</button>
</div>
<h3 class="favTitle">Your Favorite Breweries:</h3>
<div class="well favBrewery" ng-repeat="userBrewery in userBrewerys track by userBrewery.id" style="visibility: hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
  {{userBrewery.name}} <button type="button" ng-click="removeBrewery($index, {id: userBrewery.id, name: userBrewery.name})" class="btn btn-danger">Remove Brewery</button>
</div>